@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}
.overthemall{
  width:100%;
  overflow: none;
}
.filled-color:hover span{
  @apply opacity-40
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:16px;
 
}
.activepointer{
  background-color: #3f3fff;
  transition: 0.8s;
}
.progressbar{
  background: #959595;
  width: 300px;
  height:10px;
  border-radius: 5px;
}
/* .progressbar div{
  height: 10px;
  border-radius: 5px;
  width: 50%;
  background-color: red;


} */
.progressbar-html,.progressbar-css,.progressbar-tailwind,.progressbar-js,.progressbar-vuejs,.progressbar-reactjs{
  background: #959595;
  width: 500px;
  height:10px;
  border-radius: 5px;
}
.progressbar-html div {
  height: 10px;
  border-radius: 5px;
  width: 98%;
  background-color: #3f3fff;
  font-size: small;
}
.navbar{
  transition: all .55s ease;
}
.progressbar-css div {
  height: 10px;
  border-radius: 5px;
  width: 90%;
  font-size: small;
}
.progressbar-tailwind div {
  height: 10px;
  border-radius: 5px;
  width: 87%;
  background-color: #3f3fff;
  font-size: small;
}
.progressbar-js div {
  height: 10px;
  border-radius: 5px;
  width: 80%;
  background-color: #3f3fff;
  font-size: small;
}
.progressbar-vuejs div {
  height: 10px;
  border-radius: 5px;
  width: 70%;
  background-color: #3f3fff;
  font-size: small;
}
.progressbar-reactjs div {
  height: 10px;
  border-radius: 5px;
  width: 50%;
  background-color: #3f3fff;
  font-size: small;
}
.progressbar-html div span,.progressbar-css div span,.progressbar-tailwind div span,.progressbar-js div span,.progressbar-vuejs div span,.progressbar-reactjs div span{ 
  height:38px ;
  
  font-weight: bold;
  width: 38px ;
  border-radius: 50%;
  float:right;
  margin-top: -15px;
  margin-right: 30px;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content: center;
}
.navcontent-1{
  border-radius: 10px;
  background: transparent;
  color:white;
  padding: 8px;
  padding-top: 5px;
  border:2px solid #3f3fff;
  box-shadow:0 0px 8px #3f3fff;
}
.pj1{
  width: 100% ;
  height:100%;
  position:absolute;
  border-radius: 10px;
 
  
}
.pj2{
  width: 100%;
  height:100%;
  position:absolute;
  border-radius: 10px;

}
.pj3{
  width: 100%;
  height:100%;
  position:absolute;
  border-radius: 10px;

}
.work{
  height:400px;
 
}
.layer{
  width:100%;
  height: 0%;
  overflow: hidden;
 background:linear-gradient(rgba(0,0,0,0.6),#3f3fff);
  border-radius: 10px;
  position:absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding:0 40px;
  font-size: 14px;
  transition:  0.5s;
}
.work:hover img{
  transform: scale(1);
}
.work:hover .layer{
  height :100%;
  transform: scale(1);
}
.work img{
  transition:0.5s
}
.linkicon{
  width:50px;
  height: 50px;
  margin-top: 50px;
}
.image{
  width:20px;
  height:20px;
  
}
.contactimg{
  width:250px;
}
.btn{
  width: 200px;

}
form input, form textarea{
  width:90%;
  outline: none;
  border-bottom: 2px solid #3f3fff;
  background:#17171f ;
  padding:15px;
  margin: 15px 10px;
  font-size:18px;
  border-radius: 6px;

}
.textarea{
  height: 150px;
  resize: none;
}
.btnsubmit{
  width:150px;
  margin-left: 20px;
}
.overthemall{
  width: 100%;
  margin:0 auto;
}
.work{
  width:100%;
  margin-right: 20px;
  padding-right: 20px;
}
.myimg{
  margin-top: 5px;
margin-left:35%;
 border-radius: 50%;
 height:160px;
 width: 160px;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 5px;

}
.name{
   margin-left: 35%;
   margin-top:5px
}

.imgholder{
  height: 430px;
  border-radius: 10px;
  border:2px solid #3f3fff;
  background: transparent;
  color:white;
  padding: 8px;
  padding-top: 5px;
  box-shadow:0 0px 8px #3f3fff;
  z-index: 3;
}
.navbarclass{
  border-bottom: 2px solid #3f3fff;
  width: 0%;
  color:#A3A3FF;
  transition: 1.5s;
  
  
}
.skills,.experience,.education.navbarclass{
 
  width:50%;
  width:50%;
}
.navcontent-2{
  display:none;
}
.navcontent-3{
  display:none
}

.scrollbar{
  width:100px;
  height:100px;
  border-radius: 50%;
  position: relative;
  background-color: red;
}
.footer{
  display:flex;
  margin-left:0px;
  align-items: center;
  justify-content: center;
  height:80px;
 margin-top:20px;
  font-weight: bold;
  background-color:rgb(0, 0, 0,0.3);
  box-shadow:10px 10px  5px #17171f

}



 nav{
  animation: nav 1s;
} 

.mobilenav{
 position: relative;

}


 

/* media query for  small tablet */
@media(max-width:1023px){
  .harmbugermun{
    display:block;
  }
   .navbar{
    display: none;
    transition: 2s;
   }
  .navbare {
   display:flex;
   position: absolute;
   top:60px;
   left: 1.7rem;
   flex-direction: column;
   height:80%;
   z-index: 10;
   transition: all .55s ease;
  
  
   
  }
  .buildings{
    opacity: 0.2;
  }
 
  .navbar a{
    padding:10px
  }
  .myimg{
    display:flex;
    align-items: center;
    justify-content:center;
    height: 10rem;
    width:10rem
  }
  .overall{
    height:100vh;
  }
  .about{
    height:160vh
  }
 
  .imgholder{
    height:100%;
    border:none;
    box-shadow: none;
  }
  .textabt{
    font-size:0.9rem
  }
  .textholder{
    height:40%;
  }
  .navcontent-1 h1{
    font-size: 1.2rem;
    
  }
 
  .my-work{
    height:170vh
  }
  .pj1,.pj2,.pj3{
    opacity:1;
    height:100%;

  }
  .work{
    height:50vh
  }
  .work:hover img{
    transform: none;
  }
  .work:hover .layer{
    height :100%;
    transform: none;
  }
  .contacts{
    height:110vh
  }
.footer{
  height:50px;
  margin-top:40px
}
@keyframes mobilenav{
  from{
    transform:translateY(-35px)
    
  }
  to{
    transform:translateX(0px)
  }
}
  .navbar{
    animation: mobilenav 1s ease-in-out;
  }

 }

 /* media query for  mobile device */
@media(max-width:600px){
  .harmbugermun{
    display:block;
  }
   .navbar{
    display: none;
    transition: 2s;
   }
  .navbare {
   display:flex;
   position: absolute;
   top:60px;
   left: 1.7rem;
   flex-direction: column;
   height:80%;
   z-index: 10;
   transition: all .55s ease;
  
  
   
  }
  .buildings{
    opacity: 0.2;
  }
 
  .navbar a{
    padding:10px
  }
  .myimg{
    display:flex;
    align-items: center;
    justify-content:center;
    height: 130px;
    width:130px
  }
  .overall{
    height:100vh;
  }
  .about{
    height:150vh
  }
 
  .imgholder{
    height:100%;
    border:none;
    box-shadow: none;
  }
  .textabt{
    font-size:0.9rem
  }
  .textholder{
    height:40%;
  }
  .navcontent-1 h1{
    font-size: 1.2rem;
    
  }
 
  .my-work{
    height:160vh
  }
  .work{
    height:40vh
  }
  .pj1,.pj2,.pj3{
    opacity:1;
    position:absolute;
    height:100%;
  }
  .work:hover img{
    transform: none;
  }
  .work:hover .layer{
    height :100%;
    transform: none;
  }
  .contacts{
    height:110vh
  }
  .footer{
    height:50px;
    margin-top:40px
  }
  @keyframes mobilenav{
    from{
      transform:translateY(-35px)
      
    }
    to{
      transform:translateX(0px)
    }
  }
    .navbar{
      animation: mobilenav 1s ease-in-out;
    }
  
 
  

 }

 

 

